html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: sans-serif;
}

#ui button {
    display: inline-block;
    min-width: 2.2em;
    height: 2.2em;
    font-size: 1em;
}

#list span {
    display: inline-block;
    padding: 0 0.5em;
    position: absolute;
    left: 0;

}

#list ul {
    width: 60dvw;
    font-size: 80%;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

#list li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#list button {
    width: 20dvw;
    padding: 0.25em 0;
    border: 1px solid #bbb;
}

#list button.pending-review {
    font-style: italic;
    background-color: yellow;
}

#ui {
    display: none;
    height: 10dvh;
    position: fixed;
    left: 0;
    top: 0;
}

#progress {
    width: 600px;
    max-width: 95vw;
}

#content {
    background-color: aliceblue;
    max-height: 90dvh;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    bottom: 0;
}

#content div {
    padding: 0 0.5em;
}

.highlight {
    background-color: yellow;
}

dialog {
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #333;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
}

dialog div {
    margin-bottom: 10px;
    text-align: center;
}

#search p {
    margin: 0;
    font-size: 0.9em;
}

#search label {
    font-family: 'Arial Narrow', sans-serif;
}

#search-input {
    width: 17em;
}

#search-results {
    border: 1px solid #bbb;
    max-height: 70dvh;
    overflow-y: scroll;
}

#search-results a {
    text-decoration-color: #84ace9;
}

#github {
    font-family: 'Arial Narrow', sans-serif;
    position: fixed;
    right: 0.5em;
    bottom: 0.25em;
}